docx2txt==0.9
fastembed==0.7.3
langchain_community==0.4.1
langchain_core==1.1.0
langchain_text_splitters==1.0.0
matplotlib==3.10.7
numpy==2.3.5
pdfminer_six==20251107
perspective==1.0.3
protobuf
PyPDF2==3.0.1
python-dotenv==1.2.1
qdrant_client==1.16.1
sentence_transformers==5.1.2
unstructured==0.18.18
whisper==1.1.10
zenml==0.92.0
streamlit==1.51.0
google-generativeai==0.8.5
