accelerate==1.11.0
action-msgs==2.0.3
action-tutorials-interfaces==0.33.7
action-tutorials-py==0.33.7
actionlib-msgs==5.3.6
aiofiles==25.1.0
alembic==1.15.2
altair==5.5.0
ament-cmake-test==2.5.4
ament-copyright==0.17.3
ament-cppcheck==0.17.3
ament-cpplint==0.17.3
ament-flake8==0.17.3
ament-index-python==1.8.1
ament-lint==0.17.3
ament-lint-cmake==0.17.3
ament-package==0.16.4
ament-pep257==0.17.3
ament-uncrustify==0.17.3
ament-xmllint==0.17.3
angles==1.16.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
asgiref==3.10.0
attrs==25.4.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.14.2
blinker==1.9.0
builtin-interfaces==2.0.3
cachetools==6.2.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.2.1
cloudpickle==3.1.2
coloredlogs==15.0.1
composition-interfaces==2.0.3
contourpy==1.3.3
cryptography==46.0.3
cv-bridge==4.1.0
cycler==0.12.1
dataclasses-json==0.6.7
demo-nodes-py==0.33.7
Deprecated==1.3.0
diagnostic-msgs==5.3.6
distro==1.9.0
docker==7.1.0
domain-coordinator==0.12.0
effdet==0.4.1
emoji==2.15.0
example-interfaces==0.12.0
examples-rclpy-executors==0.19.7
examples-rclpy-minimal-action-client==0.19.7
examples-rclpy-minimal-action-server==0.19.7
examples-rclpy-minimal-client==0.19.7
examples-rclpy-minimal-publisher==0.19.7
examples-rclpy-minimal-service==0.19.7
examples-rclpy-minimal-subscriber==0.19.7
filelock==3.20.0
filetype==1.2.0
flatbuffers==25.9.23
fonttools==4.60.1
fsspec==2025.9.0
geometry-msgs==5.3.6
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.28.1
google-auth==2.42.0
google-cloud-vision==3.11.0
googleapis-common-protos==1.71.0
greenlet==3.2.4
grpcio==1.76.0
grpcio-status==1.76.0
grpcio-tools==1.76.0
h11==0.16.0
h2==4.3.0
hf-xet==1.2.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
humanfriendly==10.0
hyperframe==6.1.0
idna==3.11
image-geometry==4.1.0
interactive-markers==2.5.5
Jinja2==3.1.6
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
langchain==1.0.3
langchain-core==1.0.3
langchain-text-splitters==1.0.0
langdetect==1.0.9
langgraph==1.0.2
langgraph-checkpoint==3.0.0
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langsmith==0.4.40
laser-geometry==2.7.2
launch==3.4.9
launch-ros==0.26.10
launch-testing==3.4.9
launch-testing-ros==0.26.10
launch-xml==3.4.9
launch-yaml==3.4.9
lifecycle-msgs==2.0.3
logging-demo==0.33.7
lxml==6.0.2
Mako==1.3.10
map-msgs==2.4.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.7
mdurl==0.1.2
message-filters==4.11.9
ml_dtypes==0.5.3
mpmath==1.3.0
mypy_extensions==1.1.0
narwhals==2.10.2
nav-msgs==5.3.6
networkx==3.5
nltk==3.9.2
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
olefile==0.47
omegaconf==2.3.0
onnx==1.19.1
onnxruntime==1.23.2
opencv-python==4.12.0.88
orjson==3.11.4
ormsgpack==1.11.0
osrf-pycommon==2.1.7
packaging==25.0
pandas==2.3.3
passlib==1.7.4
pcl-msgs==1.0.0
pdf2image==1.17.0
pdfminer==20191125
pdfminer.six==20221105
pendulum-msgs==0.33.7
pi_heif==1.1.1
pikepdf==10.0.0
pillow==12.0.0
portalocker==2.10.1
proto-plus==1.26.1
protobuf==6.33.0
psutil==5.9.8
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycocotools==2.0.10
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.11.9
pydantic_core==2.33.2
pydeck==0.9.1
Pygments==2.19.2
PyMySQL==1.1.2
pyparsing==3.2.5
pypdf==6.1.3
pypdfium2==5.0.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.1
python-iso639==2025.2.18
python-magic==0.4.27
python-multipart==0.0.20
python-oxmsg==0.0.2
python-qt-binding==2.2.2
pytz==2025.2
PyYAML==6.0.3
qdrant-client==1.11.3
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
quality-of-service-demo-py==0.33.7
RapidFuzz==3.14.1
rcl-interfaces==2.0.3
rclpy==7.1.6
rcutils==6.7.4
referencing==0.37.0
regex==2025.10.23
requests==2.32.5
requests-toolbelt==1.0.0
resource-retriever==3.4.4
rich==14.2.0
rmw-dds-common==3.1.0
ros2action==0.32.6
ros2bag==0.26.9
ros2bag-mcap-cli==0.26.9
ros2bag-sqlite3-cli==0.26.9
ros2cli==0.32.6
ros2component==0.32.6
ros2doctor==0.32.6
ros2interface==0.32.6
ros2launch==0.26.10
ros2lifecycle==0.32.6
ros2multicast==0.32.6
ros2node==0.32.6
ros2param==0.32.6
ros2pkg==0.32.6
ros2run==0.32.6
ros2service==0.32.6
ros2topic==0.32.6
rosbag2-interfaces==0.26.9
rosbag2-py==0.26.9
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.6
rosidl-cli==4.6.6
rosidl-cmake==4.6.6
rosidl-generator-c==4.6.6
rosidl-generator-cpp==4.6.6
rosidl-generator-py==0.22.2
rosidl-generator-type-description==4.6.6
rosidl-parser==4.6.6
rosidl-pycommon==4.6.6
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.2
rosidl-typesupport-fastrtps-cpp==3.6.2
rosidl-typesupport-introspection-c==4.6.6
rosidl-typesupport-introspection-cpp==4.6.6
rpds-py==0.28.0
rpyutils==0.4.2
rqt-action==2.2.0
rqt-bag==1.5.5
rqt-bag-plugins==1.5.5
rqt-console==2.2.1
rqt-graph==1.5.5
rqt-gui==1.6.2
rqt-gui-py==1.6.2
rqt-msg==1.5.1
rqt-plot==1.4.4
rqt-publisher==1.7.2
rqt-py-common==1.6.2
rqt-py-console==1.2.3
rqt-reconfigure==1.6.2
rqt-service-caller==1.2.1
rqt-shell==1.2.2
rqt-srv==1.2.2
rqt-topic==1.7.4
rsa==4.9.1
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.3
sensor-msgs==5.3.6
sensor-msgs-py==5.3.6
sentence-transformers==5.1.2
service-msgs==2.0.3
setuptools==80.9.0
shape-msgs==5.3.6
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.44
SQLAlchemy-Utils==0.42.0
sqlmodel==0.0.18
sros2==0.13.4
statistics-msgs==2.0.3
std-msgs==5.3.6
std-srvs==5.3.6
stereo-msgs==5.3.6
streamlit==1.51.0
sympy==1.14.0
teleop-twist-keyboard==2.4.1
tenacity==9.1.2
tf2-geometry-msgs==0.36.16
tf2-kdl==0.36.16
tf2-msgs==0.36.16
tf2-py==0.36.16
tf2-ros-py==0.36.16
tf2-sensor-msgs==0.36.16
tf2-tools==0.36.16
threadpoolctl==3.6.0
timm==1.0.21
tokenizers==0.22.1
toml==0.10.2
topic-monitor==0.33.7
torch==2.9.0
torchvision==0.24.0
tornado==6.5.2
tqdm==4.67.1
trajectory-msgs==5.3.6
transformers==4.57.1
triton==3.5.0
turtlesim==1.8.3
type-description-interfaces==2.0.3
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
unique-identifier-msgs==2.5.0
unstructured==0.18.15
unstructured-client==0.42.3
unstructured-inference==1.0.5
unstructured.pytesseract==0.3.15
urllib3==2.5.0
visualization-msgs==5.3.6
watchdog==6.0.0
webencodings==0.5.1
wrapt==2.0.0
xxhash==3.6.0
zenml==0.91.2
zstandard==0.25.0
